:root {
  --fd-space: 0.5rem;
  --fd-radius: 0.5rem;
  --fd-font: 0.875rem;

  --fd-primary: #1b3380;
  --fd-text: #545e6b;
  --fd-border: #d8d8d8;
  --fd-bg: #fff;
  --fd-surface: #f5f5f5;
  --fd-error: #cc0000;

  --fd-shadow: 0 0.625rem 1.875rem rgb(0 0 0 / 0.1);
  --fd-font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

body {
  color: var(--fd-text);
  background: var(--fd-bg);
  font-family: var(--fd-font-family);
  font-size: var(--fd-font);
  line-height: 1.5;
}
